version: '2'
services:
  bs-consortium-app:
    build: .
    ports:
    - "8001:8001"
    links:
    - redis
    - bs-consortium-mysqldb
  redis:
    image: redis
  bs-consortium-mysqldb:
    extends:
      file: mysql.yml
      service: bs-consortium-mysqldb
